@media (max-width: 1920px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .tns-item {
        img {
            max-width: 650px;
        }
    }
    .prev, .next {
        display: none;
    }
    .tns-outer {
        button {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .advantages__item {
        &:first-child {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .header {
        justify-content: space-around;
        &__contacts {
            margin-top: 20px;
        }
    }
    .tns-item {
        img {
            max-width: 350px;
        }
    }
    .catalog {
        &__tabs {
            flex-wrap: nowrap;
        }
        &__tab {
            margin-top: 10px;
        }
    }
    .reviews__item {
        flex-wrap: wrap;
        justify-content: center;
        &__img {
            margin: 0;
            margin-left: 60px;
        }
        &__descr__name {
            text-align: center;
            margin-top: 15px;
        }
        &__descr__subname {
            text-align: center;
            span {
                display: block;
                text-align: center;
            }
        }
    }
}

/* @media (max-width: 376px) {
    .title_left {
        text-align: center;
    }
} */