@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
h1, h2 {
    margin: 0;
}
.container {
    position: relative;
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
