.promo {
    position: relative;
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main.webp) center (center/cover) no-repeat;
/*         &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0; 
            right: 0;
            bottom: 0;
            background: rgba(0,0, 0,.3); z-index: 2;
        }
    .container {
        z-index: 3;
    } */
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 60px;
        max-width: 425px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 18px;
        a {
            color: #FFFFFF;
            text-decoration: uppercase;
            text-decoration: underline;
        }
    }
}